<header id="header">
    <div class="container">
        <nav id="nav-menu-container">
            <ul class="nav-menu">
                <li>
                    <a  href="{{ path('home') }}" >Home </a>
                </li>
                <li>
                    <a  {% if is_granted('IS_AUTHENTICATED_FULLY') %}hidden{%endif%} href="{{ path('log_in') }}"> Login </a>
                </li>
                <li>
                    <a  {% if is_granted('IS_AUTHENTICATED_FULLY') %}hidden{%endif%} href="{{ path('register') }}"> Register </a>
                </li>
                <li class="buy-tickets">
                    <a  {% if not is_granted('IS_AUTHENTICATED_FULLY') %}hidden{%endif%} href="{{ path('logout') }}"> Logout </a>
                </li>
            </ul>
        </nav>
    </div>
</header>
